body {
    background-color: lightgray;
    font-size: 20px;
    color: gray;
    opacity: 90%;
}

header {
    color: rgb(72, 151, 255);
}

header div {
    font-size: 0.75em;
}

main {
    background-color: bisque;
}

ol {
    width: 150px;
}

li {
    text-align: left;
}

a:hover {
    color: cyan;
}

.left {
    text-align: left;
}

img {
    float: right
}