body {
    background-color: lightgray;
    font-size: 20px;
    color: white;
    background-image: url("https://www.oie.int/app/uploads/2021/04/microsoftteams-image-1.jpeg");
    background-repeat: round;
    opacity: 90%;
}

header {
    color: orange;
    background-image: url("https://s7d2.scene7.com/is/image/TWCNews/file_nyc_coronavirusgraphicgenericivjpg");
    background-size: 100%;
}

header div {
    font-size: 0.75em;
}

main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCVYM83bY2kp>")
    background-size: 100%;
    background-repeat: round;
}

ol {
    width: 150px;
}

li {
    text-align: left;
}

a:hover {
    color: cyan;
}

.left {
    text-align: left;
}

img {
    float: right
}